@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

.container {
    height: 100vh;
}

::-webkit-inner-spin-button {
    display: none;
}

.clothing-menu-container {
    display: none;
    position: absolute;
    top: 12.6%;
    left: 74%;
    height: 78vh;
    width: 42vh;
    background: linear-gradient(to right, #808080bd, #808080bd);
    right: -25vw;
}

.clothing-menu-header {
    position: relative;
    height: 6vh;
    width: 100%;
    top: 2.2vh;
}

.clothing-menu-header-btn {
    position: relative;
    height: 55%;
    top: 2.3vh;
    background: linear-gradient(to right, #272727, #272727);
    float: left;
    color: #808080bd;
    text-align: center;
    line-height: 3.5vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.1s linear;
}

.clothing-menu-header-btn:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.selected {
    background-color: #808080bd;
    border-bottom: 2px solid #808080bd;
}

.clothing-menu-header-btn > p {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
}

.clothing-menu-header-cameras {
    position: absolute;
    height: 5.5vh;
    width: 100%;
    top: -2vh;
}

.clothing-menu-header-camera-btn {
    position: relative;
    height: 44%;
    top: 2.92vh;
    background: linear-gradient(to right, #272727, #272727);
    width: 33.33%;
    float: left;
    color: #808080bd;
    text-align: center;
    line-height: 3.4vh;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    transition: all 0.1s linear;
}

.selected-cam {
    background-color: #4bb4dd;
    border-bottom: 2px solid #808080bd;
}

.clothing-menu-header-camera-btn:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.clothing-menu-header-camera-btn > i {
    font-size: 1.4vh;
}

.clothing-menu-roomOutfits-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 65vh;
    width: 94%;
    border-radius: 20px;
    background-color: #272727;
    overflow-y: scroll !important;
}

.clothing-menu-myOutfits-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 65vh;
    width: 94%;
    border-radius: 20px;
    background-color: #272727;
    overflow-y: scroll !important;
}

.clothing-menu-outfit-option-button {
    position: relative;
    text-align: center;
    line-height: 3.4vh;
    width: 40%;
    height: 40%;
    margin: 0 auto;
    top: 2.3vh;
    background: linear-gradient(to right, #fffdfd, #fffdfd);
    border-radius: 2vh;
    transition: all 0.1s linear;
}

.clothing-menu-outfit-option-button:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.clothing-menu-outfit-option-button > p {
    color: #808080bd;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    letter-spacing: 0.1vh;
    font-size: 1vh;
}

.clothing-menu-myOutfit-option-button {
    position: relative;
    text-align: center;
    line-height: 1.6vh;
    width: 40%;
    height: 20%;
    margin: 0 auto;
    top: 2.3vh;
    background: linear-gradient(to right, #000000, #000000);
    border-radius: 2vh 2vh 0vh 0vh;
    transition: all 0.1s linear;
}

.clothing-menu-myOutfit-option-button:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.clothing-menu-myOutfit-option-button > p {
    color: #808080bd;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    letter-spacing: 0.1vh;
    font-size: 1vh;
}

.clothing-menu-myOutfit-option-button-remove {
    position: relative;
    text-align: center;
    line-height: 1.6vh;
    width: 40%;
    height: 20%;
    margin: 0 auto;
    top: 2.6vh;
    background: linear-gradient(to right, #808080bd, #808080bd);
    border-radius: 0vh 0vh 2vh 2vh;
    transition: all 0.1s linear;
}

.clothing-menu-myOutfit-option-button-remove:hover {
    background: linear-gradient(to right, #808080bd, #808080bd); 
    transition: 400ms;
}

.clothing-menu-myOutfit-option-button-remove > p {
    color: #808080bd;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    letter-spacing: 0.1vh;
    font-size: 1vh;
}

.clothing-menu-character-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 65vh;
    width: 94%;
    border-radius: 20px;
    background-color: #272727;
    overflow-y: scroll !important;
}

.clothing-menu-clothing-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 65vh;
    width: 94%;
    border-radius: 20px;
    background-color: #272727;
    overflow-y: scroll !important;
}

.clothing-menu-accessoires-container {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0.3vh;
    right: 0;
    top: 9vh;
    height: 65vh;
    width: 94%;
    border-radius: 20px;
    background-color: #272727;
    overflow-y: scroll !important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.05);
    background-color: rgba(27, 27, 27, 0);
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar
{
    height: 80vh;
    width: 0.4vh;
    left: 2%;
    background-color: rgba(245, 245, 245, 0);
    border-radius: 0px 20px 20px 0px;
}

::-webkit-scrollbar-thumb
{
    background: linear-gradient(to right, #000000, #000000, #000000, #000000);
    border-radius: 6px;
}

.clothing-menu-option {
    position: relative;
    width: 100%;
    height: 14%;
    background: linear-gradient(to right, #272727);
    margin-bottom: 1.5vh;
}

.clothing-menu-option-header {
    color: #808080bd;
    padding: 0.8vh;
    font-size: 10px;
    width: 100%;
    background: linear-gradient(to right, #161616, #161616, #161616);
}

.clothing-menu-option-header > p {
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vh;
    text-align: center;
    letter-spacing: 0.1vh;
}

.clothing-menu-option-item {
    position: relative;
    float: left;
    height: 50%;
    width: 40%;
    margin-left: 2.4vh;
    margin-top: 1vh;
}

.clothing-menu-option-item-left {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 42%;
    width: 16%;
    background: linear-gradient(to right, #000000, #000000);
    color: #e9e9e9;
    text-align: center;
    line-height: 2.44vh;
    font-size: 20px;
    border-radius: 20px 0px 0px 20px;
    transition: all 0.1s linear;
}

.clothing-menu-option-item-left:hover {
    color: #141414;
    background: linear-gradient(to right, #000000, #000000);
    transition: 40ms;
}

.clothing-menu-option-item-right {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42%;
    width: 16%;
    background: linear-gradient(to right, #000000, #000000);
    color: #e9e9e9;
    text-align: center;
    line-height: 2.44vh;
    font-size: 20px;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.1s linear;
}

.clothing-menu-option-item-right:hover {
    color: #141414;
    background: linear-gradient(to right,#e6e6e6, #e6e6e6);
    transition: 40ms;
}

.item-number {
    position: absolute;
    width: 25%;
    height: 60%;
    top: 2.2vh;
    left: 5.75vh;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(211, 211, 211);
    text-align: center;
    font-family: 'Tajawal', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6vh;
    letter-spacing: 0.1vh;
    color: #808080bd;
    outline: none;
    transition: all 0.1s linear;
}

.item-number:focus {
    border-bottom: 2px solid rgb(255, 255, 255);
}

.clothing-menu-option-item-header {
    position: absolute;
    bottom: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1vh;
    letter-spacing: 0.07vh;
    color: #808080bd;
}

.clothing-menu-option-item-header > p {
    font-family: 'Tajawal', sans-serif;
    padding: 0.2vh;
}

.clothing-menu-option-buttons {
    position: absolute;
    bottom: 0.75vh;
    width: 100%;
    height: 2.5vh;
    background: #808080bd;
}

.clothing-menu-option-button {
    position: relative;
    float: left;
    height: 100%;
    width: 33.33%;
    background: linear-gradient(to right, #272727, #272727);
    transition: all 0.1s linear;
}

.clothing-menu-option-button:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.clothing-menu-option-button > p {
    line-height: 2.5vh;
    font-size: 0.9vh;
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: #808080bd;
    text-align: center;
}

.clothing-menu-save-outfit-name {
    display: none;
    position: absolute;
    right: 8.6%;
    bottom: 42.88%;
    background: none;
    border: none;
    outline: none;
    background: #272727;
    width: 20vh;
    height: 20vh;
    border-radius: 2vh;
}

.clothing-menu-save-outfit-name-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17%;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.clothing-menu-save-outfit-name-button {
    position: relative;
    background: linear-gradient(to right, #808080bd, #808080bd);
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 3.2vh;
}

.clothing-menu-save-outfit-name-button:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.clothing-menu-save-outfit-name-button > p {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.1vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: #808080bd;
    font-weight: bold;
}

.clothing-menu-save-outfit-name-header {
    position: fixed;
    top: 12.6%;
    left: 74%;
    height: 78vh;
    width: 42vh;
    background: linear-gradient(to right, #808080bd, #808080bd, #808080bd, #808080bd);
    right: -25vw;
}

.clothing-menu-save-outfit-name-header > p {
    font-family: 'Tajawal', sans-serif;
    font-size: 1.5vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    color: #808080bd;
    font-weight: bold;
    text-align: center;
    line-height: 2.8vh;
}

#outfit-name {
    position: fixed;
    right: 3.4%;
    top: 16%;
    background: none;
    border: none;
    outline: none;
    background: #272727;
    width: 38vh;
    height: 70vh;
    border-radius: 20px;
    text-align: center;
    transition: all 0.1s linear;
}

#outfit-name:focus {
    border-bottom: 3px solid #272727;
}

#outfit-name {
    color: #808080bd;
    font-family: 'Tajawal', sans-serif;
    font-size: 1.75vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    font-weight: bold;
}

#outfit-name::placeholder {
    color: rgba(255, 255, 255, 0.404);
    font-family: 'Tajawal', sans-serif;
    font-size: 1.75vh;
    letter-spacing: 0.1vh;
    text-transform: uppercase;
    font-weight: bold;
}

.change-camera-buttons {
    display: none;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 7vh;
    width: 20vh;
}

.change-camera-button {
    position: fixed;
    height: 3.4%;
    width: 7.92%;
    right: 2.4%;
    top: 9.44%;
    float: left;
    border-radius: 0px 40px 0px 0px;
    background: linear-gradient(to right, #272727, #272727);
    text-align: center;
    transition: 0.08s;
}

.change-camera-buttonb {
    position: fixed;
    height: 3.4%;
    width: 7.92%;
    right: 18.1%;
    top: 9.44%;
    float: left;
    border-radius: 40px 0px 0px 0px;
    background: linear-gradient(to right, #272727, #272727);
    text-align: center;
    transition: 0.08s;
}

.change-camera-button:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.change-camera-buttonb:hover {
    background: linear-gradient(to right,#808080bd, #808080bd);
    transition: 400ms;
}

.change-camera-button > i {
    font-size: 2vh;
    color: #808080bd;
    line-height: 3.4vh;
}

.change-camera-buttonb > i {
    font-size: 2vh;
    color: #808080bd;
    line-height: 3.4vh;
}

.change-camera-footer {
    position: fixed;
    top: 9.44%;
    right: 10.248%;
    text-align: center;
    width: 7.90%;
    height: 3.4%;
    background: linear-gradient(to right, #272727, #272727);
    line-height: 1.5vh;
}

.change-camera-footer > p {
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 1.2vh;
    line-height: 3.2vh;
    text-transform: uppercase;
    color: #808080bd;
    letter-spacing: 0.1vh;
}

.change-camera-player {
    position: fixed;
    bottom:6.48%;
    right: 2.4%;
    text-align: center;
    width: 23.6%;
    height: 3.4%;
    border-radius: 0px 00px 40px 40px;
    background: #272727;
    line-height: 1.9vh;
}

.change-camera-player > p {
    font-family: 'Tajawal', sans-serif;
    font-weight: bold;
    font-size: 1.0vh;
    line-height: 3.4vh;
    text-transform: uppercase;
    color: #808080bd;
}